NODE_ENV=development
DEPLOY_ENV=development

# WEB
WEB_PORT=80
NEXT_TELEMETRY_DISABLED=1
NEXT_PUBLIC_API_HOST=http://localhost:3000

# API
API_PORT=3000
WEB_HOST=http://localhost
YOUTUBE_PROXY=

# POSTGRES
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=main
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# MASTRA
MASTRA_PORT=4111
MASTRA_HOST=mastra
OPENROUTER_API_KEY=
MASTRA_AUTO_REFRESH_PROVIDERS=false

# REDIS
REDIS_PORT=6379
REDIS_HOST=redis

# OTEL
OTEL_OPENOBSERVE_ENDPOINT=
OTEL_OPENOBSERVE_TOKEN=
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318 # for development